{% extends 'components/navbar.html' %}

{% load static %}


{% block content %}
<body>
    <h1>
        Post list
    </h1>

    {% for product in products %}
        <div class="card" style="width: 18rem;">
            {% if product.image_of_product %}
                <img src="media/{{ product.image_of_product }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'default_icon.png' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ product.name_of_product }} {{ product.rating }}</h5>
            <p class="card-text">{{ product.created_at }}</p>
                {% for category in product.categories.all %}
                    <a href="#" class="btn btn-secondary">#{{ category.title_of_category}}</a>
                {% endfor %}
            <a href="/products/{{ product.id }}" class="btn btn-primary">View</a>
            </div>
        </div>
    {% endfor %}
</body>
</html>

{% endblock %}