{% extends 'components/navbar.html' %}

{% load static %}

{% block content %}
<body>
    <form action='' method="get">
        <input type="text" name="search" placeholder="Search" value="{{ request.GET.search }}">
        <input type="submit" value="Search">
    </form>
    {% for category in categories %}
        <a href="?category={{category.id}}" class="btn btn-secondary">#{{ category.title_of_category }}</a>
    {% endfor %}
    <h2>
        Sort by
    </h2>
    <a href="?sort=created_at" class="btn btn-secondary">Newest</a>
    <a href="?sort=created_at&order=desc" class="btn btn-secondary">Oldest</a>
    <a href="?sort=rating" class="btn btn-secondary">Rate(asc)</a>
    <a href="?sort=rating&order=desc" class="btn btn-secondary">Rate(desc)</a>
    <h1>
        Post list
    </h1>

    {% for product in products %}
        <div class="card" style="width: 18rem;">
            {% if product.image_of_product %}
                <img src="/media/{{ product.image_of_product }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'default_icon.png' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ product.name_of_product }} {{ product.rating }}</h5>
            <p class="card-text">{{ product.created_at }}</p>
                {% for category in product.categories.all %}
                    <a href="#" class="btn btn-secondary">#{{ category.title_of_category}}</a>
                {% endfor %}
            <a href="/products/{{ product.id }}" class="btn btn-primary">View</a>
            </div>
        </div>
    {% endfor %}

<h1>
    Pages
</h1>
    {% for page in pages %}
        <a href="?page={{page}}" class="btn btn-secondary" >{{page}}</a>
    {% endfor %}

</body>
</html>

{% endblock %}