{% extends 'components/navbar.html' %}

{% block content %}

<h1 style="text-align: center;">
    Welcome to 37-1
</h1>

<p style="text-align: center;">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, quia eaque. Voluptatibus numquam a praesentium, aperiam vero sit at. Enim ex soluta dolores ipsam eum veritatis deleniti harum. Reiciendis, quisquam?
</p>

<img src="https://ctl.s6img.com/society6/img/V4rKtSnqn4W-KrdtTtaKpsL_wfw/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/b41fcb88dc6e437f8a03eb014411cdf1/~~/woman-yelling-at-cat-meme-22624840-prints.jpg?attempt=0" width="500">

{% endblock %}